#drivers{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#drivers td, #drivers th{
    border: 1px solid #ddd;
    padding: 8px;
}

#drivers tr:nth-child(even){background-color: #f2f2f2;}

#drivers tr:hover{background-color: #ddd;}

#drivers th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

#seasonselect{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#selectBtn{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border: 1px solid #ddd;
    padding: 8px;
	background-color: #4CAF50;
}

h1{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
