<h1>Drivers list</h1>
<script src="driver-list.component.spec.ts"></script>
<script src="drive-list-component.ts"></script>
<script src="driver-list.module.ts"></script>

<div class="col-md-8 col-md-offset-2" *ngIf="isLoading">
	<i class="fa fa-spinner fa-spin fa-3x loading"></i>
</div>

<div>
	<span id="seasonselect">PLEASE SELECT A SEASON: </span>
	<select id="selectList" [(ngModel)]="selectedYear">
		<option *ngFor="let year of years" [value]="year.Year">{{year.Year}}</option>
	</select>
	<button id="selectBtn" type="button" (click)="onYearSelect(selectedYear); updateCurrentYear(selectedYear)">Search</button>
</div>

<br><br>

<span id="seasonselect">Now showing season drivers of {{currentYear}}</span>

<div class="container-fuild" style="text-align: center">
	<div class="row">
		<div class="col-md-8 col-sm-3 col-sx-12" *ngIf="!isLoading">
			<div class="form-group">
				<table id="drivers" class="table">
					<thead>
						<tr>
							<th>Permanent number</th>
							<th>Code</th>
							<th>Name</th>
							<th>Date of Birth</th>
							<th>Nationality</th>
							<th>Link</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let driver of drivers; let i = index">
							<td scope="row">{{driver.permanentNumber}}</td>
							<td>{{driver.code}}</td>
							<td>{{driver.givenName}} {{driver.familyName}}</td>
							<td>{{driver.dateOfBirth}}</td>
							<td>{{driver.nationality}}</td>
							<td>
								<a routerLink="drivers/:id">Link</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
